fullnameOverride: svc-gateway
nameOverride: svc-gateway

image:
  repository: ghcr.io/jagadeesh-ml/svc-gateway
  tag: "sha-2020172768406d7db58564ef0bf60a30e2915d38"   # keep your current tag

replicaCount: 1

service:
  port: 80
  targetPort: 8080

env:
  - name: PORT
    value: "8080"

readinessProbe:
  httpGet: { path: /healthz, port: 8080 }
  initialDelaySeconds: 3
  periodSeconds: 5
livenessProbe:
  httpGet: { path: /healthz, port: 8080 }
  initialDelaySeconds: 5
  periodSeconds: 10
  - name: SERVICE_NAME
    value: svc-gateway
