fullnameOverride: svc-payments
nameOverride: svc-payments

image:
  repository: ghcr.io/jagadeesh-ml/svc-payments
  tag: "sha-6db128aeeceb06d463c8f69dc5cbd852515077a8"

replicaCount: 1

service:
  port: 80
  targetPort: 8080

resources:
  requests:
    cpu: "25m"
    memory: "64Mi"
  limits:
    cpu: "250m"
    memory: "256Mi"

env:
  - name: PORT
    value: "8080"

readinessProbe:
  httpGet: { path: /healthz, port: 8080 }
  initialDelaySeconds: 3
  periodSeconds: 5
livenessProbe:
  httpGet: { path: /healthz, port: 8080 }
  initialDelaySeconds: 5
  periodSeconds: 10
  - name: SERVICE_NAME
    value: svc-payments
