fullnameOverride: svc-search
nameOverride: svc-search

image:
  repository: ghcr.io/jagadeesh-ml/svc-search
  tag: "sha-8b5ff36a4c056b4bb2edae9df0856495dd1ee263"

replicaCount: 2

service:
  port: 80
  targetPort: 8080

env:
  - name: PORT
    value: "8080"

readinessProbe:
  httpGet: { path: /healthz, port: 8080 }
  initialDelaySeconds: 3
  periodSeconds: 5
livenessProbe:
  httpGet: { path: /healthz, port: 8080 }
  initialDelaySeconds: 5
  periodSeconds: 10
